# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Add sensitive files
*.key
*.pem
*.crt
*.env.local
.vercel/output/functions/__nitro.func/chunks/_/nitro.mjs
